################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GeoLocationInfoImporter/bin/Debug/net6.0
/GeoLocationInfoImporter/obj
